@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --amarelo-ahtp: #E1FF16;
    --marrom-ahtp: #574F4C;
    --marrom-ahtp2: #827672;
    --verde-ahtp:#5BBD43;
  }

*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
}

header{
    background-color: black;
    width: 100%;
}

main{
    background-color: var(--marrom-ahtp2);
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
}

footer{
    background-color: var(--marrom-ahtp);
    width: 100%;
}

.card{
    background-color: white;
}

.card:hover{
    background-color: black;
}

.card_em_breve:hover{
    background-color: white;
}

.card_desabilitado{
    opacity: 50%;
}

.card_desabilitado:hover{
    background-color: white;
}

.btn{
    color: var(--amarelo-ahtp);
    background-color: black;
    width: 40%;
    height: 80%;
    font-size:small;
}

.btn:hover{
    color:black;
    background-color: var(--amarelo-ahtp);
}

p{
    font-size: medium;
}

.disclaimer{
    background-color: var(--amarelo-ahtp);
}

#desabilitado{
    background-color: #1D1D1D;
    color: rgb(255, 255, 255);
}

#desabilitado:hover{
    cursor: default;
}

.partner:hover{
    background-color: var(--verde-ahtp);
}
